<!-- character-detail.component.html -->

<div *ngIf="selectedCharacter">
    <h3>{{ selectedCharacter.name }}</h3>
    <img class="character"[src]="getThumbnailUrl(selectedCharacter)" alt="{{ selectedCharacter.name }} Thumbnail">
    <p>Description: {{ selectedCharacter.description || 'No description available' }}</p>

    <!-- Display comics  -->
    <h3>Comics</h3>
    <ul class="comic">
        <li *ngFor="let comic of comics">
            <app-comic [comic]="comic"></app-comic>
        </li>
    </ul>
     <!-- Display creators  -->
     <h3>Series</h3>
     <ul class="comic">
         <li *ngFor="let serie of series">
             <app-series [serie]="serie"></app-series>
         </li>
     </ul>
 
     <!-- Display comics  -->
     <h3>Events</h3>
     <ul class="comic">
         <li *ngFor="let event of events">
             <app-event [event]="event"></app-event>
         </li>
     </ul>
 
</div>
