
<div *ngIf="selectedCharacter">
    <h2>{{ selectedCharacter.name }}</h2>
    <img class="character"[src]="getThumbnailUrl(selectedCharacter)" alt="{{ selectedCharacter.name }} Thumbnail">
    <p class="description">Description: {{ selectedCharacter.description || 'No description available' }}</p>

 
    <h3>Comics</h3>
    <ul class="comic">
        <li *ngFor="let comic of comics">
            <app-comic [comic]="comic" class="comic-image"></app-comic>
        </li>
    </ul>
  
     <h3>Series</h3>
     <ul class="comic">
         <li *ngFor="let serie of series">
             <app-series [serie]="serie"></app-series>
         </li>
     </ul>
 

     <h3>Events</h3>
     <ul class="comic">
         <li *ngFor="let event of events">
             <app-event [event]="event"></app-event>
         </li>
     </ul>
 
</div>
