<div class="container">
    <div class="container">
      <p class="lead tex-center" id="message"></p>
    </div>
    <h2>Marvel Events</h2>
    <div class="search-and-pagination">
    <form [formGroup]="searchForm" class="search-form">
      <input formControlName="search" placeholder="Search.." (input)="onSearchChange()">
    </form>
    <div class="pagination">
      <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
      <span>{{ currentPage }} / {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
    </div>
  </div>
  <div class="flex-container">
    <ng-container *ngIf="marvelData; else loading">
      <ng-container *ngFor="let event of filteredTitle">
        <ng-container *ngIf="event.thumbnail && event.thumbnail.path && !event.thumbnail.path.includes('image_not_available')">
          <app-event [event]="event" class="event_image"></app-event>
        </ng-container>
      </ng-container>
    </ng-container>
    <ng-template #loading>Loading...</ng-template>
  </div>