<div class="container">
    <div class="container">
      <p class="lead tex-center" id="message"></p>
    </div>
    <h2>Marvel Series</h2>
    <form [formGroup]="searchForm">
      <input formControlName="search" placeholder="Search.." (input)="onSearchChange()">
    </form>
  <div class="flex-container">
    <ng-container *ngIf="marvelData; else loading">
      <ng-container *ngFor="let serie of filteredTitle">
        <ng-container *ngIf="serie.thumbnail && serie.thumbnail.path && !serie.thumbnail.path.includes('image_not_available')">
          <app-series [serie]="serie" class="character_image"></app-series>
        </ng-container>
      </ng-container>
    </ng-container>
    <ng-template #loading>Loading...</ng-template>
  </div>