

<div *ngIf="selectedEvent">
    <h2>{{ selectedEvent.title }}</h2>
    <img class="character"[src]="getThumbnailUrl(selectedEvent)" alt="{{ selectedEvent.title }} Thumbnail">
   
    <p>Description: {{ selectedEvent.description || 'No description available' }}</p>
    <div class="overlay">
    <h3>Creators</h3>
    <ul class="creator">
        <li *ngFor="let creator of creators">
            <app-creator [creator]="creator"></app-creator>
        </li>
    </ul>
    </div>

    <h3>Characters</h3>
    <ul class="comic">
        <li *ngFor="let character of characters">
            <app-characters [character]="character"></app-characters>
        </li>
    </ul>


  


    <h3>Comics</h3>
    <ul class="comic">
        <li *ngFor="let comic of comics">
            <app-comic [comic]="comic"></app-comic>
        </li>
    </ul>

</div>
