<div class="container">
  <div class="container">
    <p class="lead tex-center" id="message"></p>
  </div>
  <h2>Marvel Characters</h2>
  <form [formGroup]="searchForm">
    <input formControlName="search" placeholder="Search.." (input)="onSearchChange()">
  </form>
  <div class="pagination">
    <span *ngFor="let page of getPagesArray()">
      <button class="btn btn-secondary" (click)="onPageChange(page)" [class.active]="currentPage === page">{{ page }}</button>
    </span>
  </div>
  <div class="flex-container">
    <ng-container *ngIf="marvelData; else loading">
      <ng-container *ngFor="let character of filteredCharacters">
        <ng-container *ngIf="character.thumbnail && character.thumbnail.path && !character.thumbnail.path.includes('image_not_available')">
          <app-characters [character]="character" class="character_image"></app-characters>
        </ng-container>
      </ng-container>
    </ng-container>
    <ng-template #loading>Loading...</ng-template>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <span class="text-muted" id="footer">footer</span>
  </div>
</footer>
